<h2>Aula 06 - Biblioteca Pandas</h2>

#### Importando a biblioteca Pandas

In [119]:
import pandas as pd
import numpy as np

#### Series (observe o índice do lado esquerdo)

In [120]:
s1 = pd.Series([1, 2, -5, 0])

In [121]:
s1

0    1
1    2
2   -5
3    0
dtype: int64

In [122]:
s1.values

array([ 1,  2, -5,  0], dtype=int64)

In [123]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [124]:
s2 = pd.Series([1, 2, -5, 0], index=['a', 'b', 'c', 'd'])

In [125]:
s2

a    1
b    2
c   -5
d    0
dtype: int64

In [126]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [127]:
s2['a'] = 1000

In [128]:
s2

a    1000
b       2
c      -5
d       0
dtype: int64

#### Comparação

In [129]:
s2[s2>0]

a    1000
b       2
dtype: int64

#### Álgebra

In [130]:
s2 * 2

a    2000
b       4
c     -10
d       0
dtype: int64

In [131]:
s2

a    1000
b       2
c      -5
d       0
dtype: int64

In [132]:
s2.isnull()

a    False
b    False
c    False
d    False
dtype: bool

#### Datafrane

##### Criar Dataframe

In [133]:
dados = {'estado': ['SP','MG','PR','SP','MG','PR'],
         'ano':[2019,2019,2019,2020,2020,2020],
         'pop':[45.9, 21.2, 16.9, 46.6, 21.4, 17.3]}
df1 = pd.DataFrame(dados)

In [134]:
df1

  estado   ano   pop
0     SP  2019  45.9
1     MG  2019  21.2
2     PR  2019  16.9
3     SP  2020  46.6
4     MG  2020  21.4
5     PR  2020  17.3

In [135]:
df1.head(2)

  estado   ano   pop
0     SP  2019  45.9
1     MG  2019  21.2

##### Visualizar partes Dataframe

In [136]:
df1.tail(2)

  estado   ano   pop
4     MG  2020  21.4
5     PR  2020  17.3

In [137]:
df1.sample(2)

  estado   ano   pop
4     MG  2020  21.4
1     MG  2019  21.2

##### Novo DF a partir do anterior (veja as colunas)

In [138]:
df2 = pd.DataFrame(dados, columns=['ano','estado','pop'])

In [139]:
df2

    ano estado   pop
0  2019     SP  45.9
1  2019     MG  21.2
2  2019     PR  16.9
3  2020     SP  46.6
4  2020     MG  21.4
5  2020     PR  17.3

##### Observar Dataframe

In [140]:
df2['estado']

0    SP
1    MG
2    PR
3    SP
4    MG
5    PR
Name: estado, dtype: object

In [141]:
df2.ano

0    2019
1    2019
2    2019
3    2020
4    2020
5    2020
Name: ano, dtype: int64

In [142]:
df2.dtypes

ano         int64
estado     object
pop       float64
dtype: object

##### Atribuir Valores

In [143]:
df2['estimativa'] = 50

In [144]:
df2

    ano estado   pop  estimativa
0  2019     SP  45.9          50
1  2019     MG  21.2          50
2  2019     PR  16.9          50
3  2020     SP  46.6          50
4  2020     MG  21.4          50
5  2020     PR  17.3          50

In [145]:
df2['estimativa'] = np.arange(6)

In [146]:
df2

    ano estado   pop  estimativa
0  2019     SP  45.9           0
1  2019     MG  21.2           1
2  2019     PR  16.9           2
3  2020     SP  46.6           3
4  2020     MG  21.4           4
5  2020     PR  17.3           5

In [147]:
df3 = df2

In [148]:
df3

    ano estado   pop  estimativa
0  2019     SP  45.9           0
1  2019     MG  21.2           1
2  2019     PR  16.9           2
3  2020     SP  46.6           3
4  2020     MG  21.4           4
5  2020     PR  17.3           5

In [149]:
df3 = df2['ano']

In [150]:
df3

0    2019
1    2019
2    2019
3    2020
4    2020
5    2020
Name: ano, dtype: int64

In [151]:
df2['Não Paraná'] = df2.estado != 'PR'

In [152]:
df2

    ano estado   pop  estimativa  Não Paraná
0  2019     SP  45.9           0        True
1  2019     MG  21.2           1        True
2  2019     PR  16.9           2       False
3  2020     SP  46.6           3        True
4  2020     MG  21.4           4        True
5  2020     PR  17.3           5       False

##### Excluir coluna

In [153]:
del df2['Não Paraná']

In [154]:
df2

    ano estado   pop  estimativa
0  2019     SP  45.9           0
1  2019     MG  21.2           1
2  2019     PR  16.9           2
3  2020     SP  46.6           3
4  2020     MG  21.4           4
5  2020     PR  17.3           5

##### Entender o DataFrame

In [155]:
df2.shape

(6, 4)

In [156]:
df2.shape[0]

6

In [157]:
df2.index

RangeIndex(start=0, stop=6, step=1)

In [158]:
df2.columns

Index(['ano', 'estado', 'pop', 'estimativa'], dtype='object')

In [159]:
df2.count()

ano           6
estado        6
pop           6
estimativa    6
dtype: int64

##### Alterar informações das colunas

In [160]:
df2.columns = ['Ano', 'Estado', 'População', 'Estimativa']

In [161]:
df2

    Ano Estado  População  Estimativa
0  2019     SP       45.9           0
1  2019     MG       21.2           1
2  2019     PR       16.9           2
3  2020     SP       46.6           3
4  2020     MG       21.4           4
5  2020     PR       17.3           5

##### Analisar o DataFrame

In [162]:
df2.describe(include='all')

                Ano Estado  População  Estimativa
count      6.000000      6   6.000000    6.000000
unique          NaN      3        NaN         NaN
top             NaN     SP        NaN         NaN
freq            NaN      2        NaN         NaN
mean    2019.500000    NaN  28.216667    2.500000
std        0.547723    NaN  14.096725    1.870829
min     2019.000000    NaN  16.900000    0.000000
25%     2019.000000    NaN  18.275000    1.250000
50%     2019.500000    NaN  21.300000    2.500000
75%     2020.000000    NaN  39.775000    3.750000
max     2020.000000    NaN  46.600000    5.000000

##### Alterar valores e consultar dados

In [163]:
df2['Ano'] = df2['Ano'] + 2

In [164]:
df2

    Ano Estado  População  Estimativa
0  2021     SP       45.9           0
1  2021     MG       21.2           1
2  2021     PR       16.9           2
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

In [165]:
df2[df2['Ano']>2021]

    Ano Estado  População  Estimativa
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

In [166]:
df4 = df2[df2['Ano']>2021]

In [167]:
df4

    Ano Estado  População  Estimativa
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

##### Excluir colunas

In [168]:
df4.drop('Ano', axis = 'columns')

  Estado  População  Estimativa
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [169]:
df2.drop('Ano', axis = 'columns', inplace=True)

In [170]:
df2

  Estado  População  Estimativa
0     SP       45.9           0
1     MG       21.2           1
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

##### Excluir linhas

In [171]:
df2.drop([0,1])

  Estado  População  Estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [172]:
df2

  Estado  População  Estimativa
0     SP       45.9           0
1     MG       21.2           1
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

##### Observe a propagação na exclusão definitiva

In [173]:
dflinhas = df2

In [174]:
dflinhas.drop([0,1], inplace=True)

In [175]:
dflinhas

  Estado  População  Estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [176]:
df2

  Estado  População  Estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

##### Ver dados de linhas

In [177]:
df2.iloc[0]

Estado          PR
População     16.9
Estimativa       2
Name: 2, dtype: object

In [178]:
df2.iloc[1:3]

  Estado  População  Estimativa
3     SP       46.6           3
4     MG       21.4           4

In [181]:
df2.iloc[1:3, [1,2]]

   População  Estimativa
3       46.6           3
4       21.4           4

In [182]:
df2

  Estado  População  Estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5